<div id="loginForm">

    <label for="email">Podaj Twój adres e-mail </label>
    <input #emailInputValue id="email" type="email" placeholder="Tutaj wpisz e-mail" (input)="insertEmail(emailInputValue.value)">

    <label for="pass">Podaj Twoje hasło </label>
    <input #passwordInputValue id="pass" type="password" placeholder="Tutaj wpisz hasło" (input)="insertPassword(passwordInputValue.value)">

    <button type="button" [disabled]="!fG.valid" (click)="loginData()">Zaloguj się</button>

</div>
