<div [hidden]="correctLoginData" class="alertBadLoginDataBox">Złe dane logowania, spróbuj jeszcze raz!</div>

<div id="loginForm" [formGroup]="loginGroup" novalidate>

    <div class="formInput">
        <label for="email">Podaj Twój adres e-mail </label>
        <input #emailInputValue 
        id="email" 
        type="email" 
        placeholder="Tutaj wpisz e-mail" 
        (input)="insertEmail(emailInputValue.value)"
        formControlName="emailValid">
        <div class="alert" [hidden]="loginGroup.valid">Prawidłowy format adresu e-mail: example@domain.pl</div>
    </div>

    <div class="formInput">
        <label for="pass">Podaj Twoje hasło </label>
        <input #passwordInputValue 
        id="pass" 
        type="password" 
        placeholder="Tutaj wpisz hasło" 
        (input)="insertPassword(passwordInputValue.value)" 
        formControlName="passwordValid">
        <div class="alert" [hidden]="loginGroup.valid">Hasło musi zawierać conajmniej 4 znaki</div>
    </div>

    <button type="button" [disabled]="loginGroup.invalid" (click)="loginData()">Zaloguj się</button>
    <div class="alert" [hidden]="loginGroup.valid">Uzupełnij wymagane pola, aby przycisk był aktywny</div>

</div>
